# Name of your application. Used to uniquely configure containers.
service: pp-api

# Name of the container image.
image: pp-api

# Deploy to these servers.
servers:
  web:
    hosts:
      - 10.8.0.1
    options:
      publish:
        - "7001:7001"

ssh:
  user: pp-admin

proxy:
  host: api.pitchperfect.eu.com
  ssl: true

env:
  clear:
    PORT: 7001

registry:
  server: localhost:5555

builder:
  dockerfile: ./Dockerfile
  local: false
  arch: amd64
  remote: ssh://10.8.0.1
