# Name of your application. Used to uniquely configure containers.
service: pp-api

# Name of the container image.
image: pp-api

# Deploy to these servers.
servers:
  web:
    hosts:
      - 10.8.0.1
    options:
      publish:
        - '<%= ENV["PP_PORT_API"] %>:<%= ENV["PP_PORT_API"] %>'

ssh:
  user: pp-admin

proxy:
  host: api.pitchperfect.eu.com
  ssl: true
  app_port: <%= ENV["PP_PORT_API"] %>
  healthcheck:
    path: /health
    timeout: 10
    interval: 2

env:
  clear:
    PP_PORT_API: "<%= ENV['PP_PORT_API'] %>"
    PORT: "<%= ENV['PP_PORT_API'] %>"
    PP_HST: "<%= ENV['PP_HOSTNAME_DB'] %>"
    PP_USR: "<%= ENV['PP_USR'] %>"
    PP_DATABASE: "<%= ENV['PP_DATABASE'] %>"
    SMTP_HOST: "<%= ENV['SMTP_HOST'] %>"
    SMTP_PORT: "<%= ENV['SMTP_PORT'] %>"
    SMTP_USER: "<%= ENV['SMTP_USER'] %>"
  secret:
    - PP_PWD
    - SMTP_PASS

registry:
  server: localhost:5555

builder:
  dockerfile: ./Dockerfile
  local: false
  arch: amd64
  remote: ssh://10.8.0.1
