service: pp-api-dev

env:
  clear:
    PP_DATABASE: EuroTourno
    PP_HST: "<%= ENV['PP_HOSTNAME_DEV'] %>" 
    PP_USR: "<%= ENV['PP_USR_DEV'] %>" 
    SMTP_HOST: localhost
    SMTP_USER: test
    SMTP_PASS: test
    PORT: "<%= ENV['PP_PORT_API_DEV'] %>"
  secret:
    - PP_PWD

# Deploy to these servers.
servers:
  web:
    hosts:
      - "<%= ENV['PP_HOSTNAME_DEV'] %>"
    options:
      publish: []

ssh:
  user: ubuntu

# dev: no TLS; unique proxy host to avoid conflicts with prod
proxy:
  host: dev-api.pitchperfect.eu.com
  ssl: false
  app_port: <%= ENV['PP_PORT_API_DEV'] %>
  healthcheck:
    path: /health
    timeout: 10
    interval: 2

# registry must be reachable FROM the VM
registry:
  server: localhost:5555

builder:
  dockerfile: ./Dockerfile
  local: false
  arch: arm64
  remote: "<%= ENV['PP_KAMAL_SSH_DEV'] %>" 
