# Name of your application. Used to uniquely configure containers.
service: pp-api

# Name of the container image.
image: pp-api

ssh:
  user: pp-admin

proxy:
  host: api.pitchperfect.eu.com
  ssl: true
  app_port: <%= ENV['PP_PORT_API'] %>
  healthcheck:
    path: /health
    timeout: 10
    interval: 2

env:
  clear:
    PP_DATABASE: <%= ENV['PP_DATABASE'] %>
    PP_PORT_API: <%= ENV["PP_PORT_API"] %>
    SMTP_PORT: <%= ENV['SMTP_PORT'] %>
    PORT: <%= ENV['PP_PORT_API'] %>
  secret:
    - SMTP_HOST
    - PP_PWD
    - SMTP_USER
    - SMTP_PASS

registry:
  server: localhost:5555

drain_timeout: 30
deploy_timeout: 60

builder:
  dockerfile: ./Dockerfile
  local: false
