# Name of your application. Used to uniquely configure containers.
service: pp-api

# Name of the container image.
image: pp-api

ssh:
  user: pp-admin

proxy:
  host: api.pitchperfect.eu.com
  ssl: true
  healthcheck:
    path: /health
    timeout: 10
    interval: 2

env:
  clear:
    PP_DATABASE: <%= ENV['PP_DATABASE'] %>
    SMTP_PORT: <%= ENV['SMTP_PORT'] %>

registry:
  server: localhost:5555

builder:
  dockerfile: ./Dockerfile
  local: false
  arch: amd64
  remote: ssh://pp-admin@10.8.0.1
