service: pp-api-dev

env:
  clear:
    PP_HST: '<%= ENV["PP_HOSTNAME_SSH_DEV"] %>'
    PP_USR: '<%= ENV["PP_USR_DEV"] %>'

# Deploy to these servers.
servers:
  web:
    hosts:
      - '<%= ENV["PP_HOSTNAME_SSH_DEV"] %>'
    options:
      publish:
        - '<%= ENV["PP_PORT_API_DEV"] %>:<%= ENV["PP_PORT_API"] %>'

ssh:
  user: '<%= ENV["PP_USR_SSH_DEV"] %>'

# dev: no TLS; unique proxy host to avoid conflicts with prod
proxy:
  host: dev-api.pitchperfect.eu.com
  ssl: true
  app_port: <%= ENV["PP_PORT_API"] %>
  healthcheck:
    path: /health
    timeout: 10
    interval: 2

builder:
  arch: arm64
  remote: 'ssh://<%= ENV["PP_USR_SSH_DEV"] %>@<%= ENV["PP_HOSTNAME_SSH_DEV"] %>'


